<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CricEasy"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MainActivity as a regular activity -->
        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleTask"
            android:exported="true" />

        <!-- Additional activities -->
        <activity
            android:name=".Activity.MatchInfoActivity"
            android:launchMode="singleTask"
            android:exported="true" />

        <activity android:name=".Activity.TeamCreationActivity"
            android:launchMode="singleTask"
            android:exported="true"  />

        <activity android:name=".Activity.TossActivity"
            android:launchMode="singleTask"
            android:exported="true"  />

        <activity android:name=".Activity.TeamSelectionActivity"
            android:launchMode="singleTask"
            android:exported="true"  />

        <activity android:name=".Activity.SelectingSrNsBowActivity"
            android:launchMode="singleTask"
            android:exported="true"  />

        <activity android:name=".Activity.SelectingPlayersActivity"
            android:launchMode="singleTask"
            android:exported="true"  />

        <activity android:name=".Activity.ScoringActivity"
            android:launchMode="singleTask"
            android:exported="true"  />

        <activity android:name=".Activity.MatchActivity"
            android:launchMode="singleTask"
            android:exported="true"  />


        <activity android:name=".Activity.MpScorecardActivity"
            android:launchMode="singleTask"
            android:exported="true"  />

<!--        <activity android:name=".MpSummaryActivity"-->
<!--            android:launchMode="singleTask"-->
<!--            android:exported="true"  />-->

        <activity android:name=".Activity.MpCommentaryActivity"
            android:launchMode="singleTask"
            android:exported="true"  />

        <activity android:name=".Activity.MpTeamsActivity"
            android:launchMode="singleTask"
            android:exported="true"  />

        <activity android:name=".Activity.TypeofWicketActivity"
            android:launchMode="singleTask"
            android:exported="true"  />





        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSmIkxI3RiSMTa9DtLKrHSza-JW_4OjX0"/>

    </application>

</manifest>